{% extends 'base.html' %}
{% block content %}
<style>
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
</style>

<form method="GET" action="/api/v1/search">
    <input type="text" name="q" placeholder="Search...">
    <input type="hidden" value="album" name="type">
    <br><br>
    <button type="submit">Submit</button>
</form>
{% endblock content %}